<div class="menu">
    <ul>
        <li>
            <a [routerLink]="['/cardhistory']">Lịch sử mua thẻ</a>
        </li>
        <li>
            <a [routerLink]="['/money']">Lịch sử trừ tiền</a>
        </li>
        <li>
            <a [routerLink]="['/buycard']">Mua thẻ</a>
        </li>
        <li>
            <a [routerLink]="['/buycard']">Tài khoản</a>
        </li>
    </ul>
</div>
<input type="password" [(ngModel)]="token"/><button class="btn-token" (click)="setToken()">Set Token</button>
<router-outlet></router-outlet>